<div class="home">
	<div class="snap-drawers">
	    <div snap-drawer="" class="snap-drawer snap-drawer-left">
	        <div>
	            <h3>Snap.js</h3>
	            <div class="demo-social">
	                <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/tweet_button.1401325387.html#_=1402165044579&amp;count=none&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fjakiestfu.github.io%2FSnap.js%2Fdemo%2Fapps%2Fdefault.html&amp;size=m&amp;text=Snap.js%20-%20A%20Library%20for%20creating%20beautiful%20mobile%20shelfs%20in%20Javascript&amp;url=http%3A%2F%2Fjakiestfu.github.com%2FSnap.js%2F&amp;via=jakiestfu" class="twitter-share-button twitter-tweet-button twitter-share-button twitter-count-none" title="Twitter Tweet Button" data-twttr-rendered="true" style="width: 56px; height: 20px;">
	                </iframe>
	 			</div>

	            <h4>App Lists</h4>
	            <ul>
	            	<li ng-repeat="app in apps">
	            		<a href="{{ app.url }}">{{ app.title }}</a>
	            	</li>
	            </ul>
	        </div>
	    </div>

	    <!-- <div class="snap-drawer snap-drawer-right"></div> -->
	</div>

	<div id="content" snap-content class="snap-content scrollable" data-snap-ignore="true">
        <div id="toolbar">
            <span id="open-left" snap-toggle="left">
	            <!-- <i class="fa fa-align-justify fa-2x" style="color: white; padding: 13px;"></i> -->
	            <i class="fa fa-home fa-fw fa-2x" style="color: #fff; padding: 13px;"></i>
            </span>
            
            <h1>Spicy Contents</h1> 
        </div>

		<div class="panel d3-area">
			<div orthographic-clipping></div>
		</div>
	</div>
</div>
